.container {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 2rem 3rem;
  color: #f0f0f0;
  background: rgba(255 255 255 / 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35);
  font-family: "Open Sans", "Lato", sans-serif;
  min-height: 80vh;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f);
  background-size: 200% 200%;
  animation: gradientText 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.content {
  font-size: 1.1rem;
  line-height: 1.8;
  max-width: 48rem;
  margin: 0 auto;
  color: #d7d7d7;
  padding: 0 1rem;
  text-align: justify;
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .content {
    font-size: 1rem;
  }
}

.callToAction {
  margin: 0 auto 3rem auto;
  display: block;
  width: 200px; /* fixed width */
  text-align: center; /* center text inside button */
  text-decoration: none;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.12rem;
  box-shadow: 0 2px 14px rgba(255, 126, 95, 0.2);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.callToAction:hover,
.callToAction:focus {
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  box-shadow: 0 4px 22px rgba(255, 126, 95, 0.29);
  outline: none;
}
