@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
  background: linear-gradient(-45deg, #1e3c72, #2a5298, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: gradientBackground 5s ease infinite;
  color: #f0f0f0;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
